#zlp-info-w {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
#spinner {
  display: none;
}
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
}

.unknownSuggestionGroup {
  display: none;
}
